<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ycheck">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/newicon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".p_noclass"></activity>
        <activity android:name=".p_checknow" />
        <activity android:name=".p_check" />
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/network_security_config" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation"/>


        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StuMainActivity" />
        <activity android:name=".ProMainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AlarmListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AlarmActivity"/>
        <activity android:name=".QrActivity"/>
        <activity android:name=".ScanQrActivity"/>
        <activity android:name=".QrMainActivity"/>
        <activity android:name=".ProCheckActivity"/>
        <activity android:name=".ProNoticeActivity"/>

    </application>

</manifest>
